<div class="card card-background borde-shadow border-round pb-5" style="width: 50%;">
    <div class="mx-5 mt-3 mb-3">
        <div class="">
            <h3 class="text-center subtext-cardadmin">categoría</h3>

        </div>
        <form>
            <div class="form-group">
                <label class="subtext-cardadmin" for=""> Agregar Id</label>
                <input type="text" class="form-control mt-1">
            </div>
            <div class="form-group">
                <label class="subtext-cardadmin" for=""> Nombre Categoría</label>
                <input type="text" class="form-control mt-1">
            </div>
            <div class="form-group">
                <label class="subtext-cardadmin" for=""> Descripcion Categoría</label>
                <input type="text" class="form-control mt-1">
            </div>
        </form>
    </div>
</div>