.input-border {
    border: none;
  }
  
  .border-round {
    border-radius: 10px 50px 10px 50px !important;
    border-style: outset;
  }

  form .form-group .form-control {
    display: block;
    height: 3rem;
    width: 100%;
    color: white;
    padding: 0.375rem 0.75rem;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 0 !important;
    background-color: transparent !important;
    border: 0 !important;
    border-bottom: 2.5px solid#cde20c !important;
  }
  
  input[readonly] {
    cursor: text;
    background-color: #fff;
  }