<div class="row">
    <div class="col-md-3 mt-4 mp-2 bm-2">
        <div class="card shadow zoom" style="width: 18rem;">
            <!-- <img src="../../../assets/Image/superIm.png" class="card-img-top" alt="..."> -->
            <div class="card-body">
                <h3 class="card-title text-center fw-bold">Vestido de Bebes</h3>
                <p class="cup-text">Vestidos de bebé para niñas, vestidos de fiesta de Navidad para niños, primer
                    regalo de
                    Navidad,
                    Ropa para Niñas, ropa sin mangas, 1, 2, 3, 4, 5 años.</p>
                <h4>Precio:</h4>
                <div class="text-end">
                    <!-- <button class="btn btn-outline-success" (click)="ViewMore(i)">Ver más...</button> -->
                </div>
            </div>

        </div>
    </div>