<div *ngIf="isPublic" class="offcanvas offcanvas-start style-fundcanvas" tabindex="-1" id="offcanvasExample"
    aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title fw-bold fs-2 fst-italic" id="offcanvasExampleLabel">StoreNi</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"
            class="btn btn-outline-danger"><i class="fa-solid fa-xmark"></i></button>

    </div>
    <!-- Start of list -->
    <div class="container">
        <ul class="list-group style-scroll">
            <li class="list-group-item fw-bold fs-4 style-list" (click)="displaylist()"><i class="fa-solid fa-list"></i>
                Categorias</li>
            <!-- <li href="#" *ngFor="let item of categoria" class="list-group-item style-list">
        {{item.nombreselect}}
      </li> -->

        </ul>
    </div>
    <!--  -->
    <div class="offcanvas-body">

        <div>
            Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists,
            etc.
        </div>
        <div class="dropdown mt-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                Dropdown button
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- Privado -->
<div *ngIf="!isPublic">
    <div class="sidebar-header">
        <h3 class="brand">
            <span class="ti-unlink"></span>
            <span>easywire</span>
        </h3>
        <label for="sidebar-toggle" class="ti-menu-alt"></label>
    </div>

    <div class="sidebar-menu">
        <ul class=".low">
            <li>
                <a href="">
                    <span class="ti-home"></span>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="ti-face-smile"></span>
                    <span>Team</span>
                </a>
            </li>
            <li>
                <a (click)="routes('addProduct')" >
                    <span class="ti-agenda"></span>
                    <span>Add Products</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="ti-clipboard"></span>
                    <span>Leaves</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="ti-folder"></span>
                    <span>Projects</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="ti-time"></span>
                    <span>Timesheet</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="ti-book"></span>
                    <span>Contacts</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="ti-settings"></span>
                    <span>Account</span>
                </a>
            </li>
        </ul>
    </div>
</div>