<div class="container mt-5">
    <div class="d-flex justify-content-center align-item-center">
        <div class="card shadow-lg p-3 mb-5 bg-body border-round login-background" style="width: 40%;">
            <div class="d-flex justify-content-center align-item-center ">
                <!-- <img src="../../../assets/Image/superIm.png" class="card-img-top " style="width: 60%;" alt="..."> -->
            </div>
            <div class="card-body">

                <form>
                    <div class="form-group mb-3">
                        <label class="fw-bold color-text">Usuario</label>
                        <input type="email" class="form-control input-border" name="email" placeholder="admin@gmail.com"
                            [(ngModel)]="userInfo.email" onfocus="this.removeAttribute('readonly');" readonly />
                    </div>
                    <div class="form-group mb-3">
                        <label class="fw-bold color-text">Contraseña</label>
                        <input type="password" class="form-control input-border" name="password"
                            [(ngModel)]="userInfo.password" onfocus="this.removeAttribute('readonly');" readonly />
                        <span id="passwordHelpInline" class="form-text">
                            La contraseña debe de tener 8-20 Caracteres.
                        </span>
                    </div>
                    <div class="text-center color-text">
                        <button (click)="login()" class="btn btn-outline-success rounded-pill"
                            style="width:50%">Iniciar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>