.body-login{
    background:url('/assets/Image/login.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.register-a{
    
    color:rgb(233, 54, 54)
}