<div class="row mt-3">
    <div class="col-md-4">
        <div class="div">
            <button class="btn draw-border" (click)="backhome()">Regresar al Inicio</button>
        </div>
        <div class="card borde-shadow">
            <app-carousel></app-carousel>
        </div>
    </div>
    <div class="col-md-5 mt-5">
        <div class="card borde-shadow card-background" style="width: 100%;">
            <div class="card-body">
                <h4 class="card-title text-center subtext-cardadmin">Detalle del Producto:</h4>
                <h5 class="card-subtitle subtext-cardadmin mb-2 ">Descripción del Artículo:</h5>
                <p class="paragraphs">Some quick example text to build on the card title and make
                    up the bulk of the card's content.</p>
                <h5 class="card-subtitle subtext-cardadmin mb-2 ">Tallas:</h5>
                <p class="paragraphs">Some quick example text to build on the card title and make
                    up the bulk of the card's content.</p>
                <h5 class="card-subtitle subtext-cardadmin mb-2 ">Colores:</h5>
                <p class="paragraphs">Some quick example text to build on the card title and make
                    up the bulk of the card's content.</p>
                <h5 class="card-subtitle subtext-cardadmin mb-2 ">Precio:</h5>
                <p class="paragraphs">Some quick example text to build.</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card small-card border-light mb-3 border-round " style="max-width: 18rem;">
            <div class="card-header text-center subtext-cardwhite">Cantidad Disponible</div>
            <div class="card-body">
                <h5 class="card-title subtext-cardwhite">Cantidad Disponible:</h5>
                <p class="paragraphs">1456.</p>
            </div>
        </div>


        <div class="card small-card border-light mb-3 border-round" style="max-width: 18rem;">
            <div class="text-center subtext-cardwhite">Promoción</div>
            <div class="card-body">
                <h5 class="card-title subtext-cardwhite">Oferta:</h5>
                <p class="paragraphs">1456.</p>
                <h5 class="card-title subtext-cardwhite">Descuento:</h5>

            </div>
        </div>
    </div>
</div>