<footer>
    <div id='social' class="pt-4 pb-2">
        <a class='facebook' title='facebook' href='#'>
            <i class="fa-brands fa-facebook-f"></i>

        </a>
        <a class='twitter' title='twitter' href='#'>
            <i class="fa-brands fa-twitter"></i>
        </a>
        <a class='gplus' title='Gmail' href='#'>
            <i class="fa-brands  fa-google"></i>
        </a>
        <a class='skype' title='skype' href='#'>
            <i class="fa-brands  fa-skype"></i>
        </a>
        <a class='github' title='github' href='#'>
            <i class="fa-brands fa-github"></i>
        </a>
    </div>

    <div class="center-up-down">
        <p class="text-copyright">Copyright &copy; {{yearNow}} App Store Ni</p>
    </div>
</footer>